@font-face {
  font-family: Vazir;
  src: url("../assets/fonts/Vazir-Regular.eot");
  src: url("../assets/fonts/Vazir-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Vazir-Regular.woff2") format("woff2"),
    url("../assets/fonts/Vazir-Regular.woff") format("woff"),
    url("../assets/fonts/Vazir-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../assets/fonts/Vazir-Bold.eot");
  src: url("../assets/fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/Vazir-Bold.woff2") format("woff2"),
    url("../assets/fonts/Vazir-Bold.woff") format("woff"),
    url("../assets/fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --primary-color: #51a8b1;
  --primary-color-light: #6db6be;
  --primary-color-dark:#03333e;
}

body,
input,
button,
::after,
::before {
  font-family: Vazir;
}

@media screen and (max-width:576px) {
  .side-menu{
      position: absolute;
      background-color: #fff;
      padding: 0 1rem;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 1000;
      transform: translateX(-1000px);
      transition: all .4s;
      opacity: 0;
      visibility: hidden;
  }
}
@media screen and (min-width:577px) and (max-width:992px) {
  .side-menu{
      position: absolute;
      background-color: #fff;
      padding: 0 1rem;
      width: 60vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 1000;
      transform: translateX(-1000px);
      transition: all .5s ease-in-out;
      opacity: 0;
      visibility: hidden;
  }
}


.side-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 30px 0px;
  margin: 10px 0;
}
.side-header a {
  text-decoration: none;
  margin-right: 15px;
  color: #444;
  font-weight: bold;
}

.side-header a:focus{
  color: var(--primary-color);
}


.container {
  max-width: 1280px;
}
/* heder-navbar */

@media screen and (min-width: 992px) {
  .wave {
    background: url("../assets/images/vave\ 1.png") no-repeat;
    overflow: hidden;
    background-size: cover;
  }
}
.navbar {
  transition: all 0.3s;
}

.header-scroll {
  background-color: #fff;
  box-shadow: 2px 2px 5px rgb(231, 231, 231);
}
.navbar-nav {
  transition: all 0.5s;
}
.navbar-nav .active {
  color: var(--primary-color) !important;
}
.navbar-nav .active + i {
  color: var(--primary-color) !important;
}
.navbar-nav .active::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: var(--primary-color);
  margin-right: 2px;
}
.navbar-nav a:hover {
  color: var(--primary-color) !important;
}
.navbar-nav a:hover + i {
  color: var(--primary-color) !important;
}

.duble-btn {
  border-radius: 50px;
  display: flex;
  width: 127px;
  height: 43px;
  position: relative;
  overflow: hidden;
}
.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: skew(325deg);
  border: none;
  background-color: var(--primary-color);
  position: absolute;
  width: 130px;
  height: 43px;
  color: #fff;
  font-weight: bold;
  right: -43px;
  transition: 0.3s all;
}
.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: skew(325deg);
  border: none;
  background-color: var(--primary-color-light);
  position: absolute;
  width: 100px;
  height: 43px;
  color: #fff;
  font-weight: bold;
  left: -40px;
  transition: 0.3s all;
}
.duble-btn i {
  line-height: 0;
}
.duble-btn span,
.duble-btn i {
  display: inline-block;
  transform: skew(30deg);
  margin: 0 6px;
}
.sign-in:hover {
  width: 200px;
}
.sign-up:hover {
  width: 200px;
  z-index: 10;
}

/* slider */
.slider {
  margin-top: 6rem;
  
}
@media screen and (min-width:992px) {
  .slider {
    margin-top: 3rem;
  }
}

.ring {
  background: url("../assets/images/fin.png") no-repeat center;
  background-size: contain;
}
@media screen and (max-width: 400px) {
  .pad-img {
    padding: 2.5rem;
  }
}
@media screen and (min-width: 401px) {
  .pad-img {
    padding: 3.5rem;
  }
}
@media screen and (min-width: 500px) {
  .pad-img {
    padding: 4.5rem;
  }
}

/* circle */
.circle-pos {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 90%;
  bottom: 10%;
  z-index: 1000;
}
.circle-pos div {
  height: 15px;
}
.circle-pos .circle-2 {
  margin-left: 13px;
}
.circle-pos .circle-3 {
  margin-left: 27px;
}
.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #51a8b1;
  cursor: pointer;
}
.fill-circle{
  background-color: var(--primary-color);
}

@media screen and (min-width: 993px) {
  .circle-pos {
    width: 85%;
    bottom: 15%;
  }

  .circle-pos .circle-2 {
    margin-left: 15px;
  }
  .circle-pos .circle-3 {
    margin-left: 30px;
  }
}

.text-gradient {
  background: -webkit-linear-gradient(var(--primary-color), var(--primary-color-dark));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.justify {
  text-align: justify;
}
.main-btn {
  position: relative;
  background: -webkit-linear-gradient(var(--primary-color), var(--primary-color-dark));
  border-radius: 20px;
  border: none;
  color: #fff;
  transition: all ease-in-out 0.5s ;
}
.main-btn:hover {
  background: -webkit-linear-gradient(var(--primary-color-dark), var(--primary-color));
  color: #fff!important;
}

.three-point{

  display: flex;
  align-items: center;
}
.three-point span{
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: 0 5px;
}

.three-point .three-point-2{
  display: inline-block;
  width: 10px;
  height: 10px;
}
.three-point .three-point-1{
  display: inline-block;
  width: 12px;
  height: 12px;
}

/* services */

#servicecard .card {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: transparent;
  transition: all ease-in-out 0.5s !important;
}
#servicecard .card::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 46, 57);
  background: linear-gradient(
    304deg,
    rgba(0, 46, 57, 1) 0%,
    rgba(0, 46, 57, 1) 50%,
    #1d484f 50%
  );
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
}
#servicecard .card:hover::before {
  opacity: 1;
}


#servicecard .card:hover .bi-arrow-left-circle-fill {
  color: #51a8b1;
  cursor: pointer;
}
#servicecard .card:hover .card-title {
  color: #fff !important;
}
#servicecard .card:hover .bi-arrow-left-circle-fill::after {
  content: "اطلاعات بیشتر";
  position: absolute;
  font-size: 1rem;
  left: 70px;
  bottom: 30px;
  cursor: pointer;
  font-family: Vazir;
}
.shadow-lg{
  box-shadow: 0 -5px 15px #6db6be59 !important;
}














.ring2 {
  background: url("../assets/images/ring.png") no-repeat center;
  background-size: contain;
}



@media screen and (max-width: 767px) {
  .back-gen {
    background: url("../assets/images/backgen-mobile.svg") no-repeat center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .back-gen {
    background: url("../assets/images/backgen.png") no-repeat;
  }
}
.rounded-10 {
  border-radius: 50px;
}
.buble {
  background: url("../assets/images/Ellipse.png") no-repeat center;
  background-size: contain;
  width: 67px;
  height: 67px;
}


.arrow {
  /* top: 183px; */
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  /* max-width: 433px; */
  width: 100%;
}

/* .fill {
  background-color: #51a8b1;
} */
.border-primary {
  border-color: #ccc !important;
}

.fill-doctor {
  border: 5px solid #51a8b1 !important;
}

.background-wave {
  background-color: #e8f4f5;
}
.sign-circle {
  display: flex;
  width: 65px;
  height: 65px;
  background-color: #33676d;
  color: #fff;
  border-radius: 50%;
  border: 10px solid #51a8b1;
  justify-content: center;
  align-items: center;
}
.circle-number {
  background-color: #33676d;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

/* #002e39 */
.color-primary {
  color: #51a8b1 !important;
}
.color-secondry {
  color: #002e39 !important;
}
.bi-arrow-left-circle-fill,
.bi-arrow-right-circle-fill {
  color: #002e39;
}
.bi-arrow-left-circle-fill:hover,
.bi-arrow-right-circle-fill:hover {
  color: #51a8b1;
}










